.ArtHeader{
    padding: 80px 50px ;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, var(--gradient-top) 0%, var(--gradient-middle) 50%, var(--gradient-bottom) 100%);
}

.image {
    width: 300px;
}

.image img{
    max-width: 100%;
}

.sideContent p,
.sideContent h1{
    color: var(--text-color-fix) !important;
}

.sideContent h1{
    font-size: 80px;
}
.sideContent p{
    font-size: 20px;
    font-weight: 500;
}