.LikePlaylistsCard {
    padding: 20px;
    width: 205px;
    height: 282px;
    border-radius: 20px;
    background-color: var(--sidebar-color);
    transition: 0.4s;
    cursor: pointer;
}

.LikePlaylistsCard:hover {
    translate: 0 -10px;
}

.LikePlaylistsCard-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    margin: 15px 0 0 5px;
}

.LikePlaylistsCard-image {
    min-height: 170px;
}

.LikePlaylistsCard-image img {
    max-width: 100%;
    border-radius: 20px;
}

.LikePlaylistsCard-body {
    margin: 0 0 0 10px;
    padding: 0;
    color: var(--text-color);
    font-size: 15px;
}