.song-img img{
    width:50px;
}

.music-info{
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
}

.music-info:hover{
    background-color: var(--primary-color);
    color: white;
}

@media (max-width : 768px) {
    .music-info{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (max-width : 576px) {
    .music-info {
        font-size: 11px;
        }
}