header {
    position: relative;
}

header .imageuser {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}

header .imageuser img {
    max-width: 100%;
    border-radius: 6px;
}

@media (max-width: 992px) {
    .sidebar {
        width: 85px !important;
    }
}

@media (max-width: 768px) {
    .imageuser {
        display: none !important;
    }
    .menu {
        margin-top: 0 !important ;
    }
}