.music-player {
    position: fixed;
    bottom: 8px;
    right: 8px;
    left: 278px;
    width: calc(100% - 274px);
    background-color: var(--sidebar-color);
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 992px) {
    .music-player {
        width: calc(100% - 109px) !important;
        left: 112px;
        bottom: 0px ;
    }
    .music-name {
        font-size: 13px !important;
        margin-top: 6px !important;
    }

    .artist {
        font-size: 12px !important;
    }

    .player-icon {
        font-size: 30px !important;
    }
}

@media (max-width: 768px) {
    .music-player {
        width: 100% !important;
        left: 13px !important;
    }
    .music-name {
        font-size: 11px !important;
        margin-top: 8px !important;
    }
    .artist {
        font-size: 10px !important;
    }

    .player-icon {
        font-size: 28px !important;
        margin-bottom: 8px !important;
    }

    .seek-cont .controls button i {
        font-size: 20px !important;
    }
}

@media (max-width: 576px) {
    .music-player {
        width: 100% !important;
        left: 13px !important;
    }

    .music-player img {
        width: 35px !important;
        height: 35px !important;
        margin-right: 1px !important;
    }
    .music-name {
        font-size: 7px !important;
        margin-top: 0px !important;
    }

    .artist {
        font-size: 6px !important;
    }

    .player-icon {
        font-size: 20px !important;
        margin-bottom: 15px !important;
    }
    .volume-bar  {
        padding: 0px !important;
        margin: 0 !important;
    }
    .volume-bar input  {
        height: 4px !important;
    }

    .volume-bar i {
        font-size: 18px !important;
    }
}

.music-player img {
    padding: 0;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.music-infoPlayer {
    color: var(--text-color);
}

.music-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.artist {
    font-size: 14px;
    margin: 0;
}

.seek-cont .controls button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 25%;
}
.seek-cont .controls button i {
    color: var(--text-color);
}

.seek-cont .controls button:hover {
    background-color: var(--primary-color);
}

.seek-cont .seek-bar{
    width: 100%;
}

.volume-bar {
    width: 20%;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.player-icon{
    font-size: 35px;
    text-align: start;
    display: flex;
    align-items: center;
}

input[type="range"] {
    width: 100%;
    height: 5px;
    background-color: transparent;
    outline: none;
    border: none;
}
