.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .comment {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .imageAdmin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .imageAdmin img {
    width: 40px;
    border-radius: 50%;
}