@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --body-color: #f4f6fc;
    --content-bg-color:#E4E9F7;
    --sidebar-color: #FFF;
    --artistContent-color: #f5f5f5;
    --bar-color:#FFF;
    --primary-color: #619cd0;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #303030;
    --text-color-black: #000000;
    --text-color-fix: #707070;
    --gradient-top: #fff;
    --gradient-middle: #e4e9f7;
    --gradient-bottom: var(--primary-color);
    --profile-color:#ffffff;;
    --profile-fill: #E4E9F7;
    --border-color:#eee;
    --blue: var(--primary-color);
    --white: var(--sidebar-color);
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --border-color-nav: #000;
    --tran-01: all 0.2s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #000000;
    --sidebar-color: #242526;
    --artistContent-color: #383838;
    --content-bg-color: #18191a;
    --bar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #fff;
    --text-color-black: #e3e3e3;
    --text-color-fix: #ffffff;
    --gradient-top: #242526;
    --gradient-middle: hsla(0, 0%, 100%, 0.4);
    --gradient-bottom: hsla(0, 0%, 100%, 0.4);
    --profile-color: #292929;
    --profile-fill: #18191a;
    --border-color:#18191a;
    --border-color-nav: #fff;
}

.content {
    position: absolute;
    top: 7px;
    left: 266px;
    min-height: 93vh;
    width: calc(100% - 274px);
    background-color: var(--content-bg-color);
    transition: var(--tran-05);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media (max-width: 992px) {
    .content {
        width: calc(100% - 109px) !important;
        left: 101px;
    }
}

@media (max-width: 768px) {
    .content {
        width: 100% !important;
        left: 0;
        top: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

.content-admin {
    position: absolute;
    top: 7px;
    left: 266px;
    width: calc(100% - 274px);
    background-color: transparent;
    transition: var(--tran-05);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.content .navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

a{
    text-decoration: none;
}

.navbtn{
    position: relative;
    color: black;
    z-index: 5 !important;
    margin: 5px 0px 0px 15px;
    cursor: pointer;
}